@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Poppins:wght@700&display=swap');

:root{
    --color-fondo: #0077b6;
    --fuenteTitulo: 'Poppins', sans-serif;
    --fuenteTexto: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0077b6;
    font-family: var(--fuenteTexto);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuenteTitulo);
    color: rgb(28, 102, 75);
    text-transform: uppercase;
}

.contenedor{
    width: 380px;
    background: #e8e8e8;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.top{
    display: block;
}

.img__container{
    border-radius: 25%;
}

.img__container img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.carrito{
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
}

.numeroCarrito{
    background: rgb(255, 76, 76);
    padding: 5px;
    border-radius: 25px;
}

.checkout{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
}

.element__container{
    display: flex;
    padding: 10px;
    background: #d7d7d7;
    border-radius: 25px;
    margin: 10px;
    align-items: center;
}

.counter__container{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.counter__container button{
    border-radius: 25px;
    color: #fff;
    padding: 10px;
    width: 35px;
    cursor: pointer;
    border: none;
}

.mas{
    background: rgb(27, 188, 129);
}

.menos{
    background: rgb(255, 76, 76);
}

.element__data{
    padding: 10px;
}

.placehold__number{
    padding: 10px;
    font-weight: bold;
}

.precio{
    margin: 10px 0px;
}

.boton__checkout__container{
    display: flex;
}

.boton__checkout__container button{
    margin: 10px;
    border: none;
}